- content_for :head do
  %title Enpower your ORG with Heroku by @vzmind 
  %link{:href => "munich2012/style.css", :rel => "stylesheet"}
%section.slide
  %h1
    Empower your ORG with Heroku
%section.slide
  %h1
    Getting to know each other
%section.slide
  %h2  Ich heisse Vincent Spehner aka vzmind
  %ul
    %li From Business to Tech
    %li Pragmatic Ruby addict
    %li Opensource Hacktivist
    %li Active member of the french Ruby community
  #emphasize-low{:style => "bottom:0px;"}
    %img{:src => "munich2012/vzmind-cloud.png", :width => '300px', :style => "margin-left:100px;margin-top:50px;"}
%section.slide
  %h2  Today's program :
  %ul
    %li Behind Heroku's clouds
    %li Rails overview
    %li Facebook break
    %li= "Force.com: strength and Weakness"
    %li How to cook a social app ?
    %li Examples
%section.slide
  %h1
    Heroku an introduction
%section.slide
  %h2 Success heroku
  #with-pictures
    %ul
      %li 
        Cloud app: File sharing solution
        %img{:src => "munich2012/logo_cloud_app.png", :style => "margin-right:150px;width:200px;"}
        %ul
          %li 1 000 000 users
          %li Heroku + Amazon S3
          %li Sendgrid addon
      %li 
        Diaspora: Open source Facebook
        %img{:src => "munich2012/logo_diaspora.png", :style => "margin-right:150px;width:200px;"}
        %ul
          %li no devops strategy
          %li migration in 5 days
      %li 
        ASICS: support your marathoner
        %img{:src => "munich2012/logo_asics.png", :style => "margin-right:150px;width:200px;"}
        %ul
          %li 3 weeks dev before LIVE
          %li Live brodacasting of FB, Twitter, video messages
          %li Fast enconding using Zencoder
%section.slide
  %h2 Languages
  #without-pictures-small-font
    %ul
      %li 
        Ruby: 
        %ul
          %li Historical language
      %li 
        Python: 
        %ul
          %li Google language
      %li 
        Scala: 
        %ul
          %li Java dynamic language
      %li 
        Clojure: 
        %ul
          %li Java functional language
      %li 
        Node.js: 
        %ul
          %li Fast event-based server
      %li 
        Java 
  #pictures
    %img{:src => "munich2012/heroku_languages.png"}
%section.slide
  %h2 Add-ons: Databases
  #without-pictures
    %ul
      %li Database.com
      %li Neo4j
      %li mySQL
      %li CouchDB
      %li postgreSQL 
      %li MongoDB
      %li Redis
      %li Memcached
  #pictures
    %img{:src => "munich2012/heroku_db_logo.png"}
  #emphasize-low
    = "=> Death of Monolithic databases Hegemony, welcome to Polyglot databases "
%section.slide
  %h2 Add-ons: Message Queue
  #without-pictures
    %ul
      %li Pusher app
      %li IronMQ
      %li RabbitMQ
  #pictures
    %img{:src => "munich2012/heroku_messaging_logo.png"}
  #emphasize
    = "=> High level architecture standard natively available"
%section.slide
  %h2 Add-ons: Mail
  #without-pictures
    %ul
      %li CloudMailIn
      %li Sendgrid
      %li Mailgun
  #pictures
    %img{:src => "munich2012/heroku_mail_logo.png"}
  #emphasize
    = "=> No more email server blacklisted or overloaded"
%section.slide
  %h2 Add-ons: External API
  #without-pictures
    %ul
      %li PandaStream
      %li Chargify
      %li Zencoder
      %li Raydash 
  #pictures
    %img{:src => "munich2012/heroku_services_logo.png"}
  #emphasize
    = "=> Video encoding and streaming, online payment simple as a command line"
%section.slide
  %h2 Add-ons: System and Monitoring
  #without-pictures
    %ul
      %li New Relic
      %li DNS
      %li Log
      %li Cron
      %li SSL
  #pictures
    %img{:src => "munich2012/heroku_system_logo.png"}
  #emphasize
    = "=> Sysadmin tools reduced to the minimum"
%section.slide
  %h2 Heroku main advantages
  %ul
    %li No devops or sysadmin role
    %li Simplicity of usage
    %li 
      Deploy based on git command
      %pre
        %code git push heroku => deployment done
    %li 
      Web application Scaling made easy 
      %pre
        %code git scale web=5 => 5 web servers working for you
    %li 
      Billable on-demand
      %p 0.25$ per minute
  #emphasize-low
    = "=> Building your stack as never been that simple !!"

%section.slide
  %h1
    Rails an introduction
%section.slide
  %h2 Competitive advantages
  %ul
    %li Leading MVC framework
    %li Web standard de facto
    %li Open Source
    %li Using Ruby
    %li 
      Other framework inspired by Rails approach:
      %ul 
        %li Symphony
        %li Django
        %li Ember.js
%section.slide
  %h2 7 years Success story 
  %img{:src => "munich2012/ruby-wall-fame.png", :width => "750px"}
%section.slide
  %h2 Why so popular?
  #without-pictures-small-font
    %ul
      %li Ruby is THE language for developpers
      %li MVC structuring application
      %li Object Relation Model
      %li Test oriented
      %li Caching
      %li Scaffolding
      %li Fast development
  #pictures-enlarged
    %img{:src => "munich2012/rails-mvc.png", :style => "width:100%"}
  #emphasize-low
    = "=> Fast development .... a proof coming soon"
%section.slide
  %h2 Market figures
  #without-pictures
    %ul
      %li Developer market growth
      %li Cost of dev
      %li Reduce time to market
      %li THE startup choice
  #pictures
    %img{:src => "munich2012/rails-market.jpg"}
  #emphasize
    = "=> Trend confirmed. Ruby creator hired by Salesforce"
%section.slide
  %h1
    What’s behind a Facebook app?
%section.slide
  %h2 The Open Graph API
  %img{:src => "munich2012/facebook-opengraph.png", :width => "550px"}
%section.slide
  %h2 Facebook standard Objects
  #without-pictures-small-font
    %ul
      %li Album
      %li Application
      %li Comment
      %li Event
      %li FriendList
      %li Group
      %li Order
      %li Photo
      %li Question
      %li Status message
      %li User
      %li Video
      %li ...
  #pictures
    %img{:src => "munich2012/facebook-relations.png", :style => "margin-top:100px;"}
  #emphasize
    = "=> Get user objects/actions... and define yours !!"
%section.slide
  %h2 Social design
  %img{:src => "munich2012/facebook-socialdesign.png", :width => "1150px"}
  %br
  %h4 Then use your favorite language
  %pre
    %code
      Mogli::Album.find(99398305,client)
%section.slide
  %h1
    Why extending Force.com?
%section.slide
  %h2 Salesforce & Force.com are good at
  %ul
    %li Data driven apps
    %li Writing basic business logic
    %li Quickly delivering ROI on apps that adhere to the frameworks
    %li B2B apps
  #emphasize-high
    = "=> Tell me more ... <="
%section.slide
  %h2 But they are bad at
  %ul
    %li Heavy computation
    %li Working with large data sets
    %li Expensive for data storage
    %li Governor limits cannot be avoided in some cases
    %li B2C applications, although this is improving
    %li Large volumes of traffic
    %li Cheap/available resources
  #emphasize-high
    = "=> What do you think ? <="
%section.slide
  %h1
    Solving the right problem with the right tool
%section.slide
  %h2 Pick the right language
  %ul 
    %li
      Ruby/Python
      %p 
        Purely object-oriented language
        %br
        Numerous librairies dedicated to web fast deliveries (ORM, MVC, API)
    %li 
      Java
      %p 
        Largest develop community - cheap and plentiful resource
        %br
        Most widely used language in business - lowered barrier to entry for company owners/CIOs
    %li 
      Scala/Clojure
      %p 
        Smart and trendy dialects of Java (usage of Java library, JVM)
        %br
        Functional or Dynamic approach
        %br
        As fast as java
    %li
      Node.js
      %p
        Javascript server (YES)
        %br
        Event driven server for heavy I/O traffic
%section.slide
  %h2 Pick the right database type
  %ul
    %li
      Relational databases
      %p Usual approach of a well structured data with predictable complexity
    %li 
      In memory Key-value Stores
      %p 
        Fastest access
        %br
        Use case: stock market, friend feeds
    %li
      Document oriented DB
      %p 
        Non or semi structured documents
        %br
        Use case: social network content, classified
    %li
      Database.com
      %p
        Cause your business deserves it !!
        %br
        Use case: extending SFDC, exposing existing sObjects on public website
%section.slide
  %h2 Sprinkle with Heroku spices
  %img{:src => "munich2012/APIMixtures.png", :width => "600px"}
%section.slide
  %h1
    Seeing is believing
%section.slide
  %h2 Tquila Calendar
  %ul
    %li A Google Calendar type application using Javascript Remoting 
    %li Drag-and-drop creation and modification
    %li Colours to delineate records
    %li 
      Use case:
      %ul
        %li Visualize your marketing campaigns
        %li Plan ressources
        %li Follow sales step
%section.slide
  %h2 Have a look to it
  %img{:src => "munich2012/tquila-calendar-1.png", :width => "900px"}
%section.slide
  %h2 Have a look to it
  %img{:src => "munich2012/tquila-calendar-2.png", :width => "900px"}
%section.slide
  %h2 Have a look to it
  %img{:src => "munich2012/tquila-calendar-3.png", :width => "900px"}

%section.slide
  %h2 Tquila FormStorm for Salesforce
  %ul
    %li WYSIWYG formbuilder generating heroku applications
    %li Connect your org to web/facebook/mobile
    %li 
      Use case: 
      %ul 
        %li Exchange with your community on Facebook
        %li Integrate a nice web-to-case/lead or anything on your website
        %li Build productivity tools for your sales team
  #emphasize{:style => "bottom:150px;margin-left:100px"}
    %strong
      Could we see it ?? 
%section.slide
  %h2 WTA architecture schema
  %img{:src => "munich2012/wta-architecture.png", :width => "850px"}
%section.slide
  %h1
    Questions ? 
    %br
    = "=> @vzmind <="
